<h1>WELCOME TO THE YOGA APP</h1>

<p>
Here you will learn how to create yoga sequences and string poses along to create a well rounded practice.  Feel free to also share you sequences and browse other user's sequences.
<%= image_tag '/yogaDog.jpg' %> 
</p><br/>

<%= link_to "Logout", destroy_user_session_path, :method => :delete %>
