<h1> SEQUENCES </h1>

<% @sequences.each do |seq| %>
	<%= link_to seq.name, sequence_path(seq) %><br/>
	level:  <%= seq.level %><br/>
	created: <%= seq.created_at %><br/>
	created by: <%= seq.user_id %>
	<hr>
<% end %>

